* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  background: #E6E5E5;
  /* height: 100vh; */
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 30px 10px;
}

.main-flex {
  display: flex;
  justify-content: space-between;

}

.logo-img {
  border-radius: 50%;
  max-width: 176px;
  max-height: 176px;
  width: 100%;
  margin-bottom: 30px;
}

.author {}

.author .text b {
  font-size: 36px;
  margin-bottom: 12px;
  font-weight: bold;
}

.text div {
  margin: 17px 0px;
  display: flex;
  gap: 20px;
}

.text .description {
  font-style: italic;
  max-width: 372px;
  margin-bottom: 29px;
}

.social-yt {
  margin-top: 10px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  gap: 5px;
  border-radius: 20px;
  background: #fff;
  transition: 400ms;
}

.social-yt:hover {
  transform: scale(1.04);
  color: #fff;
  background: #000;
}

.social-yt svg {
  font-size: 25px;
}

.projects {
  display: grid;
  gap: 20px 25px;
  grid-template-columns: 1fr 1fr;
}

.projects .project {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  max-width: 350px;
  color: #000;
  transition: 300ms;
}

.product-info span {
  display: flex;
  align-items: center;
  gap: 5px;

}

.projects .project:hover {
  transform: scale(1.04);
  background: #000000a5;
  color: #fff;
}

.projects .project .product-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 7px;
}

.projects .project .product-info .product-logo {
  max-width: 30px;
  max-height: 30px;
}

.projects .project .product-description {
  font-size: 12px;
  font-style: italic;
}

.project-empty {
  height: 100px;
}